{% extends 'DrakkarTestBundle::layout.html.twig' %}
{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div>
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>

        <div>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_label(form.role) }}
            {{ form_errors(form.role) }}
            {{ form_widget(form.role) }}
        </div>

        <div>
            {{ form_widget(form.save) }}
        </div>

    {{ form_end(form) }}
{% endblock %}